<!--
Author: Kyle Hochdoerfer
Title: home.component.html
Date: 10/30/23
Description: HTML page for the Home component
-->

<!--Display a navbar with Home, About and Contact options -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>

<!--Display a main container that lists the assignment name-->
<div role="main" class="container">
  <br /><br />

  <h2>Exercise 3.3 Passing Data to Routes Part 2</h2>

  <br /><br />
  <!--Show an error if the user is not logged in -->
  <div class="row">
    <div class="col-sm-6">
      <!--If the user is logged in, display their image -->
      <app-my-image></app-my-image>
    </div>

    <div class="col-sm-6 my-auto">
      <!--If the user is logged in, display their details-->
      <app-my-details></app-my-details>
    </div>

  </div>
</div>
