<!--
Author: Kyle Hochdoerfer
Title: composer-list.component.html
Date: 10/25/23
Description: HTML page for the composer list component
-->

<!--Create a table for displaying composer data-->
<table class="table table-bordered">
  <thead  class="table-dark">
    <!--Display table heading for full name and genre-->
    <tr>
      <th  scope="col">Full name</th>
      <th  scope="col">Genre</th>
    </tr>
  </thead>
  <!--Display composer data from the composer list component-->
  <tbody *ngFor="let composer of composers">
    <tr>
      <td scope="row">{{ composer.fullName }}</td>
      <td>{{composer.genre}}</td>
    </tr>
  </tbody>
</table>
