<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/dune-cover.jpg" />
      </div>
      <div>
        <em>
          <a class="attribution-link" href="https://www.britannica.com/biography/Frank-Herbert" target="_blank">Photo from Encyclopedia Britannica</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was Frank Herbert?</h1>
    <p>
      Frank Herbert (October 8, 1920—February 11, 1986), was an American science fiction writer best known for the best-selling series of Dune novels.
      Herbert's work involved a futuristic world that explored a variety of complex themes involving ecology and human evolution, capturing the imaginations
      of readers around the world. Over the years, his works have been translated into 14 languages and have sold over 12 million copies. Recently, the first
      half of Dune was adapted into a major motion picture in 2021, to great success.
    </p>
  </div>
</div>
