<!--
Author: Kyle Hochdoerfer
Title: about.component.html
Date: 10/25/23
Description: HTML page for the about component
-->

<!--Create a main container for the about page -->
<div role="main" class="container">
  <br /><br />

  <!--Display the name of the composer featured on this page-->
  <h2 class="text-center">Ludwig van Beethoven</h2>

  <br /><br />
  <!--Display a photo of a piano to represent Beethoven by-->
  <div class="row">
    <div class="col-sm-7">
      <img src="../../assets/andrik-langfield-ITQVgbjG-q4-unsplash.jpg" />
    </div>

    <!--Display a bio on Beethoven and link its source-->
    <div class="col-sm-5 my-auto">
      <p> A classical German composer and pianist who learned under Joseph Hayden, he is often considered to be the greatest composer of all time.
        In the later years of his life began to suffer from progressive deafness, yet somehow it miraculously did not stop him from producing some of his most
        important works even when he could barely hear. A few of Beethoven's most famous compositions include Symphony No. 9 in D Minor Op. 125,
        Moonlight Sonata, and Für Elise.
         <em class="apa-reference"><a href="https://www.britannica.com/list/10-classical-music-composers-to-know" target="_blank">Source</a></em>
      </p>
    </div>

  </div>
</div>
