<!--
Author: Kyle Hochdoerfer
Title: app.component.html
Date: 10/24/23
Description: HTML page for the main app component
-->

<!--Create a navbar that navigates to the Home, About, and Contact Us pages using routerLinks -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
  </ul>
</nav>

<!--Create a main container to display the exercise title and hold the router outlet-->
<div class="container">
  <br><br>
  <h2>Exercise 2.2: Navigation</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert-success alert" role="alert">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
